:root {
    --bgColor: #1B1919;
    --darkerColor: #161515;
    --positiveFill: #3FB839;
    --negativeFill: #B83939;
    --textColor: #FFF;
    --lighterColor: rgba(255, 255, 255, 0.5);
    --mainFont: 'Arial', sans-serif;
}

body {
    background-color: var(--bgColor);
    color: var(--textColor);
    font-family: var(--mainFont);
    padding-top: 12.5vh; /* Space for fixed header */
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12.5vh;
    background-color: var(--darkerColor);
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: var(--textColor);
}

header h2 {
    margin: 0;
    font-size: 1.2em;
    color: var(--lighterColor);
}

header h2 .username {
    color: var(--lighterColor);
    font-weight: bold;
    transition: color 0.3s ease;
}

header h2 .username:hover {
    color: var(--textColor);
    transition: color 0.3s ease;
}

header .settingsButton {
    background-color: var(--bgColor);
    color: var(--lighterColor);
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1em;
    border: 1px solid var(--lighterColor);
}

header a.settingsLink {
    text-decoration: none;
    color: inherit;
} 

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.cardsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 20px;
    margin: 0;
    width: 100%;
    border: solid 1px var(--textColor);
    border-radius: 12px;
    box-sizing: border-box;
    background-color: var(--darkerColor);
    gap: 20px;
}

.summary .cardsList li::marker {
    display: none;
}

.summary .cardsList li {
    background-color: var(--bgColor);
    color: var(--textColor);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px var(--lighterColor);
}

.summary .cardsList li .progressBar {
    background-color: var(--darkerColor);
    height: 4px;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
}

.summary .cardsList li .progressBar::before {
    position: absolute;
    content: '';
    height: 100%;
    left: 0;
    top: 0;
    width: 0%;
    transition: width 0.5s ease;
}

.summary .cardsList li .progressBar.notFull::before {
    background-color: var(--positiveFill);
}

.summary .cardsList li .progressBar.full::before {
    background-color: var(--negativeFill);
}

#weightChart {
    max-width: 600px;
    margin: 0 auto;
}